        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>id</th>
                  <th>Имя</th>
                  <th>Телефон</th>
                  <th>Почта</th>
                  <th>Термин</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>id</th>
                  <th>Имя</th>
                  <th>Телефон</th>
                  <th>Почта</th>
                  <th>Термин</th>
                </tr>
              </tfoot>
              <tbody>
                {{#each data}}
                <tr>
                  <td>{{id}}</td>
                  <td>{{Name}}</td>
                  <td>{{phone}}</td>
                  <td>{{email}}</td>
                  <td>{{termin_id}}</td>
                  
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>