        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Имя</th>
                  <th>Телефон</th>
                  <th>Платье</th>
                  <th>Дата</th>
                  <th>Тариф</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Имя</th>
                  <th>Телефон</th>
                  <th>Платье</th>
                  <th>Дата</th>
                  <th>Тариф</th>
                </tr>
              </tfoot>
              <tbody>
                {{#each data}}
                <tr>
                  <td>{{Name}}</td>
                  <td>{{phone}}</td>
                  <td>{{DressName}}</td>
                  <td>{{data}}</td>
                  <td>{{tarif}}</td>
                  
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>