<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Olena Brautmode {{title}}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/js/vendor/slick/slick.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/cartDress.css">
	<link rel="stylesheet" href="/css/util.css">
	<link rel="stylesheet" href="/css/feedinsta.css">
	<link rel="stylesheet" href="/css/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="/js/vendor/MagnificPopup/magnific-popup.css">
	<link href="/js/vendor/air-datapicker/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
	<link href="/js/vendor/animsition/css/animsition.min.css" rel="stylesheet" type="text/css">
	


</head>

<body class="animsition">
	<header>

		<div class="container-fluid header-desktop">
			<div class="row justify-content-between align-items-center">

				<div class="col-lg-4 col-md-4 site-settings">
					<span id="hurt">
						<a href="/termin">
						<span id="count_cart">{{session.cart.totalQty}}</span>
						</a>
						<img src="../img/icons/hart_Meine Umkleidekabine.svg">
					
					</span>
					<span id="maine-umkl">Meine Umkleidekabine</span>
					<ul class="sign">
						{{#if user}}
						</li>


		<li class="userName"><a href="#">Hello <b>{{user.Name}}</b></a></li>
      <li class="sign-in"><a href="/logout">Logout</a></li>
						{{else}}


						<li class="sign-in"><a href="/signin" >
								Einloggen
							</a>

						<li class="sign-up"><a href="/signup">
								Registrierung
							</a></li>


						{{/if}}
					</ul>

				</div>



				<div class="col-lg-3 col-md-4 logo">
					<a href="/"><img src="../img/icons/logo.svg"></a>
				</div>

				<div class="col-lg-3 col-md-2 inform">


<div class="inform-1">

						<img src="../img/icons/phone.svg">
</div>
<div class="inform-2">

						<span>Haben Sie Fragen?</span>
						<br>
						<span>01590 552 73 15</span>
</div>

				</div>

			</div>
		</div>

		<!-- navigate -->
		{{> home/home-nav}}
		<!-- navigate -->

	<!-- Cart -->

<div class="header-mobile">
	<div class="container-fluid">
		<div class="row justify-content-between align-items-center">
			<div class="col-md-4 col-sm-2 col-2">
					<span id="hurt">
						<a href="/termin">
						<span id="count_cart">{{session.cart.totalQty}}</span>
						</a>
						<img src="../img/icons/hart_Meine Umkleidekabine.svg">
					
					</span>
			</div>
			<div class="col-md-7 col-sm-8 col-8">
				<a href="/"><img src="../img/icons/logo.svg" class="img-fluid"></a>
			</div>
			<div class="col-md-1 col-sm-1 col-2">
				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 text-center inform-2">
				<span>Haben Sie Fragen?</span> | <span>+78 99 988 65 87</span>
			</div>
		</div>
	</div>
</div>
<div class="menu-mobile">
	<ul>
				<li ><a href="/#uber_uns" >Über uns</a></li>
				<li ><a href="/unsere_dienstleistungen" >Unsere Dienstleistungen</a> </li>
				<li ><a href="/kategorien">Brautkleide</a></li>
				<li ><a href="/atelier">Atelier</a></li>
				<li ><a href="/unsere">Unsere Bräute</a></li>
				<li ><a href="/kontakt">Kontakt</a></li>
	</ul>
</div>
	</header>

	{{{body}}}

	<!-- Footer -->
	{{> home/footer}}
	<!-- Footer -->

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-up"></i>
		</span>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
	<script src="/js/main.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="/js/modernizr.custom.26633.js"></script>
	<script src="/js/vendor/animsition/js/animsition.min.js"></script>
	<script>

$(".animsition").animsition({
    inClass: 'fade-in',
    outClass: 'fade-out',
    inDuration: 1500,
    outDuration: 800,
    linkElement: '.animsition-link',
    loading: true,
    loadingParentElement: 'html',
    loadingClass: 'animsition-loading-1',
    loadingInner: '<div class="loader05"></div>',
    timeout: false,
    timeoutCountdown: 5000,
    onLoadEvent: true,
    browser: [ 'animation-duration', '-webkit-animation-duration'],
    overlay : false,
    overlayClass : 'animsition-overlay-slide',
    overlayParentElement : 'html',
    transition: function(url){ window.location.href = url; }
});

</script>		
		<script type="text/javascript" src="/js/instafeed.min.js" ></script>
		<script type="text/javascript" src="/js/insta.js" ></script>
		<script type="text/javascript" src="/js/jquery.gridrotator.js" async=""></script>
				<script type="text/javascript">	
	

			$(window).on('load', function(){ 
			$(function() {


				$( '#ri-grid' ).gridrotator( {
					rows		: 1,
					columns		: 7,
					animSpeed	: 1000,
					interval	: 2000,
					step		: 1,
					w320		: {
						rows	: 1,
						columns	: 7
					},
					w240		: {
						rows	: 1,
						columns	: 7
					}
				} );
			})
			});
		</script>
				<script type="text/javascript" src="/js/validate.js" ></script>
					<script src="/js/vendor/slick/slick.js"></script>

<script type="text/javascript" src="/js/vendor/isotope/isotope.pkgd.min.js"></script>



	<script src="/js/vendor/slick-custom.js"></script>

		<script src="/js/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
	        <script src="/js/vendor/air-datapicker/dist/js/datepicker.min.js"></script>
			<script>$('.datepicker-here').datepicker({
    // Можно выбрать тольо даты, идущие за сегодняшним днем, включая сегодня
	dateFormat: "yyyy-mm-dd",
    minDate: new Date()
})</script>
</body>

</html>