<footer>
	<div class="container">
		<div class="row footer-info">
			<div class="col-lg-4 col-sm-12 footer-inform">
				<div class="footer-inform-1">
					<i class="fa fa-phone"></i>
				</div>
				<div class="footer-inform-2">

					<span>Kontakt mit uns</span><br>
					<p>015905527315</p>
				</div>

			</div>
			<div class="col-lg-5 col-sm-12 footer-inform">
				<div class="footer-inform-1">
					<i class="fa fa-envelope"></i>
				</div>
				<div class="footer-inform-2">

					<span>E-mail</span><br>
					<p>Olenabrautmode@gmail.com</p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-12 footer-inform">
				<div class="footer-inform-1">
					<i class="fa fa-map-marker"></i>
				</div>
				<div class="footer-inform-2">

					<span>Weg zu uns</span><br>
					<p>Bretten, 75015</p>
				</div>
			</div>
			<hr>
		</div>
		<div class="row footer-menu">
			<div class="col-lg-3 col-sm-6 ">
				<img src="../img/icons/BM.png" alt="">
				<p>Meerjungfrau spitze unterlegt mit Hautfarben transparent Stoff, schleppe, blush
					Oberteil: V-Ausschnitt mit silbernen Glasperlen bestickt.</p>
				<span>@ 2018 <a href="/"> OlenaBrautmode</a> <br>
					by <a href="#">Look Studio</a> </span>
			</div>
			<div class="col-lg-3 col-sm-6 ">
				<h5>Unser Service</h5>
				<ul>
					<li><a href="/"> Unsere Dienstleistungen</a></li>
					<li><a href="/">Brautkleide</a></li>
					<li><a href="/">Atelier</a></li>
					<li><a href="/">Aktien</a></li>
					<li><a href="/">Unsere Braute</a></li>
					<li><a href="/">Kontakt</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-sm-6">
				<h5>Öffnungszeiten</h5>
				<ul>
					<li>Mo: &#8195; 10:00 - 18:00</li>
					<li>Di: &#8195;&#160;&#160; 10:00 - 18:00</li>
					<li>Mi: &#8195;&#160; 10:00 - 18:00</li>
					<li>Do: &#8195; 10:00 - 18:00</li>
					<li>Fr: &#8195;&#160; 10:00 - 18:00</li>
					<li>Sa: &#8195; 10:00 - 16:00</li>
				</ul>
			</div>
			<div class="col-lg-3 col-sm-6 order-12">
				<h5>Wir rufen Sie in wenigen Minuten zurück</h5>
				<div class="footer-form">
					<form class="footer-msg-form" action="/msg-telegram" method="POST">
						<div class="footer-msg-form-wrap">
							<input type="text" name="clientName" class="footer-input-form" placeholder="Name">
						</div>
						<div class="footer-msg-form-wrap">
							<input type="tel" pattern="(\+?\d[- .]*){7,13}" name="clientPhone" class="footer-input-form" placeholder="Phone">
						</div>
						<button class="button_slide slide_right">Schicken</button>
					</form>

				</div>
			</div>
		</div>
	</div>
<div class="container-fluid footer-sm">
	<div class="row justify-content-center">
		<div class="col-md-6">
<ul>
	<li class="footer-sm-item"><a href=""><i class="fa fa-whatsapp"></i></a></li>
	<li class="footer-sm-item"><a href=""><i class="fa fa-viber"></i></a></li>
	<li class="footer-sm-item"><a href=""><i class="fa fa-telegram"></i></a></li>
	<li class="footer-sm-item"><a href=""><i class="fa fa-facebook-f"></i></a></li>
	<li class="footer-sm-item"><a href=""><i class="fa fa-instagram"></i></a></li>
</ul>
		</div>
	</div>
</div>












</footer>