{{#if error}}

  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{error}}
</div>

{{/if}}


{{#if success_message}}
<div class="alert alert-success">
    {{success_message}}
</div>

{{/if}}

{{#if danger_message}}
<div class="alert alert-danger">
    {{danger_message}}
</div>

{{/if}}

{{#if loginMessage}}
<div class="alert alert-danger">
    {{loginMessage}}
</div>

{{/if}}