		<div class="container">
			<div class="row ">
				<nav class="col-sm-12 align-self-center">
					<ul class="menu">
						
						<li class="menu__item"><a href="/#uber_uns" >Über uns</a></li>
						<li class="menu__item"><a href="/unsere_dienstleistungen" >Unsere Dienstleistungen</a> </li>
						<li class="menu__item"><a href="/kategorien">Brautkleide</a></li>
						<li class="menu__item"><a href="/atelier">Atelier</a></li>
						<li class="menu__item"><a href="/unsere">Unsere Bräute</a></li>
						<li class="menu__item"><a href="/kontakt">Kontakt</a></li>
					</ul>
				</nav>
			</div>
		</div>
