<ol class="breadcrumb" style="align-items: center;">
  <li class="breadcrumb-item">
    <a href="/admin">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">Все платья</li>
  <li>{{> home/form-msg}}</li>
  <li style="justify-content: flex-end"><a href="/admin/dress/create" class="btn btn-success"><i class="fa fa-plus-circle"></i><span>Добавить платье</span>
    </a> </li>
  <li style="justify-content: flex-end">
    <div class="btn-group">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Все платья
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Свадебные</a>
        <a class="dropdown-item" href="#">Детские</a>
        <a class="dropdown-item" href="#">Вечерние</a>
      </div>
    </div>
  </li>
</ol>

<div class="container-fluid">
  <div class="row">
              {{#each data}}
    <div class="col-md-12 col-lg-4 col-xlg-3">
      <div class="card mb-3">
        <div class="card-body">
          <center>
            <img class="img-responsive" height="200" src="/uploads/{{img_title}}" alt="pic">
            <h4 class="card-title mt-2">{{DressName}}</h4>
          </center>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-8 col-xlg-9">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3 col-xs-6 border-right">
              {{DressName}}
            </div>
            <div class="col-md-3 col-xs-6 border-right">
              {{TitleCat}}
            </div>
            <div class="col-md-3 col-xs-6 border-right">
              {{Title}}
            </div>
            <div class="col-md-3 col-xs-6 ">
              #{{id}}
            </div>
          </div>
          <hr>
          <p class="mt-4">{{Description}}</p>
          <hr>
        </div> 
      </div>
    </div>
               {{/each}}  
  </div>
</div>






<div class="card mb-3">

  {{> home/form-msg}}

  <div class="card-header">
    <i class="fa fa-table"></i> <span>Все платья</span>
    <a href="/admin/dress/create" class="btn btn-success"><i class="fa fa-plus-circle"></i><span>Добавить платье</span>
    </a>

  </div>
  <div class="card-body">
    .




    <div class="table-responsive">
      <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>id</th>
            <th>Картинка</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Категория</th>
            <th>Силует</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>id</th>
            <th>Картинка</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Категория</th>
            <th>Силует</th>
          </tr>
        </tfoot>
        <tbody>
          {{#each data}}
          <tr>
            <td><a href="/kategorien/{{slug_id}}">{{id}}</a></td>
            <td><img class="img-responsive" height="100" src="/uploads/{{img_title}}" alt="pic"></td>
            <td>{{DressName}}</td>
            <td style="width: 40%">{{Description}}</td>
            <td>{{TitleCat}}</td>
            <td>{{Title}}</td>
            <td>
              <a class='btn btn-info btn-xs' href="/admin/dress/edit/{{id}}"><i class="fa fa-edit"></i> Edit</a>
              <a href="/admin/dress/delete/{{id}}" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Del</a>
            </td>

          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>