<h1>Добавить платье</h1>

<form action="/admin/dress/create/add" method="post" enctype="multipart/form-data">

<div class="form-group">
    <label for="name">Название платья</label>
    <input name="name" type="text" class="form-control" id="name" placeholder="Название платья" required> 
</div>
<div class="form-group">
    <label for="file">Картинка для платья</label>
    <input type="file" class="form-control" name="fileTitle" required>
    <input type="file" class="form-control" name="fileLeft" required>
    <input type="file" class="form-control" name="fileRight" required>
    <input type="file" class="form-control" name="fileTop" required>
</div>
<div class="form-group">
    <label for="discription">Описание</label>
    <textarea name="discription"  type="text" id="discription" class="form-control" placeholder="Описание платья" required></textarea>
</div>
<div class="form-group">
    <label for="silhouette">Силует</label>
    <select name="silhouette" id="silhouette">
        <option value="2">A-Linie</option>
        <option value="3">A-Linie / Prinzessin</option>
        <option value="1">Meerjungfrau</option>
    </select>
</div>
<div class="form-group">
    <label for="categori">Категория</label>
    <select name="categori" id="categori">
        <option value="1">Braut</option>
        <option value="2">Abend</option>
        <option value="3">Kinder</option>
    </select>
</div>
<button type="submit" class="btn btn-primary">Добавить</button>
</form>