<h1>Редактиревать платье</h1>

{{#each data}}
<form action="/admin/dress/edit/{{id}}" method="post" enctype="multipart/form-data">
<div class="form-group">
    <label for="name">Название платья</label>
    <input name="name" type="text" class="form-control" id="name" placeholder="Название платья" value="{{Name}}">
</div>
<div class="form-group">
    <label for="file">Картинка для платья</label>
    <input type="file" class="form-control" name="file" >
</div>
<div class="form-group">
    <label for="discription">Описание</label>
    <textarea name="discription"  type="text" id="discription" class="form-control" placeholder="Описание платья">{{Description}}</textarea>
</div>
<div class="form-group">
    <label for="silhouette">Силует</label>
    <select name="silhouette" id="silhouette">

        {{#select silhuette_id}}

        <option value="2">A-Linie</option>
        <option value="3">A-Linie / Prinzessin</option>
        <option value="1">Meerjungfrau</option>

        {{/select }}

    </select>
</div>
<div class="form-group">
    <label for="categori">Категория</label>
    <select name="categori" id="categori">
        {{#select categoti_id}}
        <option value="1">Braut</option>
        <option value="2">Abend</option>
        <option value="3">Kinder</option>
        {{/select }}
    </select>
</div>
{{/each}}

<button type="submit" class="btn btn-success">Добавить</button>
<button type="submit" class="btn btn-danger" name="Cancel" value="Cancel" onclick="window.location.href = '/admin/dress';">Отменить</button>
</form>