@import url(./font-awesome/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');



html{
 /* Убирает прокрутку по горизонтале, для мобильной версии */
 overflow-x: hidden;
}
body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
  width: 12px;
}
::-webkit-scrollbar:horizontal {
  height: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  border: 2px solid #ffffff;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

header{
	padding: 15px 20px;
}
ul, li {
	display: block;
	padding: 0px;
	margin: 0px;
}

.header-mobile{
display: none;
}
/*------------------------------------------------------------------
[ btn show menu ]*/
.hamburger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 0;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
  color: #FFA3C2;
}

.hamburger:hover {
  opacity: 1;
}
.logo-mobile{
  max-width: calc(100% - 20px);
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.menu{
  padding: 20px 0px 0px 13%;
}

.menu__item{
	float: left;
}
.menu__item a{
	color: #494949;
	padding-right: 20px;
  font-weight: 500;
  line-height: normal;
  font-size: 21px;
	text-decoration: none;
}
.menu__item a:hover{
	color: #EAA3BB;
}

.active{
  color: #EAA3BB;
}

.first-section{
	background: url(../img/bg_head.jpg) center center no-repeat;
	background-size: cover;
	height: 82vh;
}
.first-section .row{
	min-height: 85vh;
}

.h-f-s{
	
	
}
h1.h-f-s {
  font-family: 'Great Vibes', cursive;
  padding-bottom: 10px;
  font-size: 85px;
  color: #EAA3BB;
  letter-spacing: 0.02em;
}
h3.h-f-s{
  font-family: 'Lobster', cursive;
  color: #494949;
  font-size: 55px;
letter-spacing: 0.07em;
}

.h-f-s-t{
  font-size: 21px;
  padding-bottom: 10px;
  color: #494949;
}
#hurt>img{
padding-top: 5px;
}
#count_cart {
	color: #EAA3BB;
	position: absolute;
	left: 29px;
	top: 9px;
}
.site-settings {
  font-size: 20px;
}
.sign{
	display: flex;
  margin-left: 30px;
  padding: 0 0 0 20px;
  font-size: 16px;
  font-weight: 300;
}
.sign > li > a{
  color: #828282;
}

.sign > li > a:hover{
  color: #EAA3BB;
  transition: all 0.3s ease-in-out;
}

.userName{
	padding: 0 20px 0 0;
}
.userName > a{
	color:  #EAA3BB;
	text-decoration: none;
}
.sign-in{
	padding: 0 20px 0 0;
}
#maine-umkl{
  font-size: 20px;
    font-weight: 500;
    padding-left: 8px;
    color: #494949;
}
.inform{
	display: flex;
    justify-content: flex-end;
    align-items: stretch;
    align-content: center;

}
.inform-1{
  align-self: center;
  padding-right: 10px;
}
.inform-2{
  align-self: center;
  font-size: 20px;

}
.inform-2> :first-child{
  color: #494949;
}
.inform-2> :last-child{
  color: #828282;
  font-weight: 200;

}


.second-section{
	    margin-top: 70px;
}
.list-services {
    margin-top: 15px;
    padding: 0;
}

.list_service_p{
  color: #9F9EA2;
}
#uber_uns{

  padding-bottom: 30px;
}
#uber_uns > p{
	font-size: 18px;
	color: #9F9EA2;
	margin-top: 20px;
}

#uber_uns > h3{

	font-size: 21px;
	color: #EAA3BB;
}
#uber_uns > h2{
  color: #494949;
  font-size: 45px;
}

.h3-list{
  font-size: 21px;	
  color: #494949;
}

.section-top-modellen{
  margin-top: 60px;
	padding: 50px 0 10px 0; 
	background-color: #f5f5f5;
}


.section-price{
	margin-top: 60px;
	padding: 20px 0 60px 0; 

}
/*-------------------------*/

.pricing-table {
  display: table;
	width: 100%;
	margin-top: 20px;
}


.title-s-p > h2{
  font-size: 45px;
  color: #494949;
  font-weight: bold;

}
.title-s-p > h5{
  color: #9F9EA2;
  font-size: 19px;
  font-weight: 300;
  padding: 10px 0 20px 0;
}


.pricing-table .pricing-option {
  width: 32%;
  background: white;
  float: left;
  position: relative;
  padding: 2%;
  box-shadow: -1px -1px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.pricing-table .pricing-option:nth-child(even) {
  margin: 0 2%;
  box-shadow: -1px -1px 15px rgba(0, 0, 0, 0.1);
}
.pricing-table .pricing-option:hover {
  cursor: default;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}
.pricing-table .pricing-option:hover i,
.pricing-table .pricing-option:hover h2,
.pricing-table .pricing-option:hover span,
.pricing-table .pricing-option:hover b {
  color: #EAA3BB;
}
.pricing-table .pricing-option:hover .front {
  opacity: 0;
  visibility: hidden;
}
.pricing-table .pricing-option:hover .back {
  opacity: 1 !important;
  visibility: visible !important;
  padding: 0 0 15px 0;
}
.pricing-table .pricing-option:hover .back a.button {
  -webkit-transform: translateY(0px) !important;
          transform: translateY(0px) !important;
}

.pricing-table .pricing-option:hover .back i.button {
  -webkit-transform: translateY(0px) !important;
          transform: translateY(0px) !important;
}
.pricing-table .pricing-option hr {
  border: none;
  border-bottom: 1px solid #f0f0f0;
}
.pricing-table .pricing-option i {
  font-size: 3rem;
  color: #d8d8d8;
  transition: all 0.3s ease-in-out;
}
.pricing-table .pricing-option h2 {
  text-align: center;
  font-weight: bold;
  line-height: 35px;
  font-size: 35px;
  margin: 20px 0;
  color: #494949;
  transition: all 0.3s ease-in-out;
}
.pricing-table .pricing-option p {
  color: #999;
  padding: 20px 0 0 0;
	height: 110px;
}
.pricing-option ul{
  line-height: 45px;
  font-size: 21px;
  color: #494949;
}
.pricing-option ul > li:first-child:before{
  content: url(../img/icons/clock.png);
}
.pricing-option ul > li:before{
  content: url(../img/icons/woman-avatar.png);
}
.pricing-option ul > li:last-child:before{
  content: url(../img/icons/wine.png);
}




.pricing-table .pricing-option .price {
  position: relative;
}
.pricing-table .pricing-option .price .front span.price {
  font-size: 30px;
  text-align: center;
  margin-top: 35px;
  padding-bottom: 20px;
  display: block;
  font-weight: 500;
  position: relative;
  color: #494949;
}
.pricing-table .pricing-option .price .front span.price b {
  position: absolute;
  font-size: 1rem;
  margin-left: 2px;
  font-weight: 600;
}
.pricing-table .pricing-option .price .back {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.pricing-table .pricing-option .price .back a.button {

	color: #3d3d3d;
  border: 1px solid#3d3d3d;
  border-radius: 0px;
  padding: 10px 30px;
  display: inline-block;
  font-size: 21px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #3d3d3d;
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
  padding: 10px 20px;
  position: absolute;
  top: -5px;
  left: 25px;
  right: 25px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}
.pricing-table .pricing-option .price .back a.button:hover {
  background: #fff;
  color: #EAA3BB;
  border: 1px solid#EAA3BB;
}

.pricing-table .pricing-option .price .back i.button {

  border-radius: 0px;

  display: inline-block;
  font-size: 32px;
  letter-spacing: 1px; 
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #3d3d3d;
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  transition: ease-out 0.2s;

  position: absolute;
  top: 15px;
  left: 45%;

  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}
.pricing-table .pricing-option .price .back i.button:hover {
  background: #fff;
}

.beat{
  animation: heartbeat 1s infinite;
}
  @keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}


input[type="radio"] {
  display: none;
  cursor: pointer;
}


input[type="radio"]:checked + label::after {
  color: #EAA3BB;

  font-family: FontAwesome;
  content: "\f004";
  font-size: 41px;
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
z-index: 1000;
  line-height: 50px
}

.section-dienstleistungen{
  margin-top: 60px;
  padding: 50px 0 70px 0;
  background-color: #f5f5f5;
}
.section-dienstleistungen .col-md-6{
padding-bottom: 30px;
}

.section-telephon{
	background-image: url(../img/bg_35.jpg);
	background-size: cover;
  color: #fff;

}
.t-i-s{
	margin: 75px 0 60px 0;
	padding: 0 0 0 0;
}

.t-i-s > span{
  font-size: 24px;
  font-weight: 500;

}
.t-i-s > span:last-child{
  font-size: 40px;
}

.t-i-s > h2{
  font-size: 55px;
  margin: 10px 0 10px 0;
}



.section-kollektion{
	margin: 75px 0 75px 0;
}

.kollekt-post{
	margin-bottom: 75px;
}

.kollekt-post > div>  h2{
  font-size: 45px;
  color: #494949;
  font-weight: bold;

}
.kollekt-post > div> p{
  font-size: 21px;
	color: #9F9EA2;
	margin-top: 40px;
}
.kollekt-post > div {
  margin-right: 40px;
}

.section-instafeed{
  margin-top: 60px;
  padding: 20px 0 60px 0;
}


/*------- FOOTER -------*/

footer{
	background-color: #494949;
	padding-top: 75px;
}

.footer-inform{
  display: flex;
    line-height: 1.2;
    /* justify-content: center; */
    align-items: stretch;
    align-content: center;
}

.footer-info{
  border-bottom: solid #9F9EA2 0.5px;
  padding-bottom: 25px;
}
.footer-inform-1{
  padding-right: 10px;
  font-size: 33px;
  color: #FFA3C2;
}
.footer-inform-2 > span{
  font-size: 18px;
  color: #FFA3C2;
}
.footer-inform-2{
  align-self: center;
  font-size: 20px;
  color: #fff;
}

.footer-menu{
  padding-top: 45px;
  color: #fff;
  
}
.footer-menu > div > p{
  font-size: 14px;
  padding-top: 41px;
  line-height: 23px;
}
.footer-menu > div > span{
  color: #969696;
  font-size: 14px;
}
.footer-menu > div > span > a{
  color: #F6AAC4;
}
.footer-menu > div > h5{
  padding: 15px 0 0 15px;
  color: #F6AAC4;
}
.footer-menu > div > ul{
  padding: 40px 0 0 15px;
  line-height: 32px;
  font-size: 18px;
}
.footer-menu > div > ul > li >a{
  color: #fff;
}
.footer-form{
  padding: 13px 0 0 15px;
}
.footer-msg-form-wrap{
  border-bottom: 2px solid #fff;
  margin-bottom: 25px;
}
.footer-input-form{
  display: block;
  height: 35px;
  background: transparent;
  font-size: 18px;
}
.footer-msg-form > button{
  width: 100%;
  color: #F6AAC4;
}

.footer-sm{
  background: #434343;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 25px;
}
.footer-sm-item{
  float: left;
}
.footer-sm-item > a{
  color: #fff;
  padding: 10px 20px;
  font-size: 22px;
  text-decoration: none;
}
.footer-sm-item > a:hover{
  color: #F6AAC4;
}



/**** END FOOTER ****/


.social-info{
	margin: 20px 0 45px 0;
}
.social-info a {
    display: inline-block;
    border: 1px solid #b7b7b7;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    margin-right: 5px;
    line-height: 38px;
}

.contact-information{
	color: #fff;
	padding-left: 75px;
}
.contact-information > p{
	margin: 20px 0 20px 0;
	font-size: 18px;
}

.footer_title {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 28px;
}
.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.list li a {
    color: #777777;
    font-size: 14px;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
	transition: all 300ms linear;
	text-decoration: none;
}
.list li a:hover{
		color: #fff;
	}

.header-timeline{
	background-image: url(../img/header-timeline_bg.png);
  background-size: cover;
  color: #FFF;
  padding: 70px 0 70px 0;
}
.header-timeline h2{ 
  font-size: 45px;
  font-weight: bold;
}
/*===== Vertical Timeline =====*/
#conference-timeline {
	position: relative;
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
  }
  #conference-timeline .timeline-start,
  #conference-timeline .timeline-end {
	display: table;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	background: #9F9EA2;
	padding: 15px 23px;
	color: #fff;
	max-width: 5%;
	width: 100%;
	text-align: center;
	margin: 0 auto;
  }
  #conference-timeline .conference-center-line {
	position: absolute;
	width: 1px;
	height: 65%;
	top: 150px;
	left: 50%;
	background: #EAA3BB;
	z-index: -1;
  }

  .timeline-article {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	margin: 20px 0;
  }
  .timeline-article .content-left-container,
  .timeline-article .content-right-container {
	max-width: 44%;
	width: 100%;
  }
  .timeline-article .timeline-author {
	display: block;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #242424;
	text-align: right;
  }
  .timeline-article .content-left,
  .timeline-article .content-right {
	position: relative;
	width: auto;
	background-color: #fff;
	padding: 27px 25px;
  }
  .timeline-article p {
	margin: 0 0 0 60px;
	padding: 0;
	font-weight: 400;
	color: #9F9EA2;
	font-size: 18px;
	line-height: 26px;
	position: relative;
  }

  .timeline-article h4 {
	margin: 0 0 20px 60px;
	padding: 0;
	color: #494949;
	line-height: 28px;
	position: relative;
  }

  .timeline-article p span.article-number {
	position: absolute;
	font-weight: 300;
	font-size: 44px;
	top: 10px;
	left: -60px;
	color: #00b0bd;
  }
  .timeline-article .content-left-container {
	float: left;
  }
  .timeline-article .content-right-container {
	float: right;
  }
  .timeline-article .content-left:before,
  .timeline-article .content-right:before{
	position: absolute;
	top: 20px;
	font-size: 23px;
	font-family: "FontAwesome";
	color: #fff;
  }
  .timeline-article .meta-date {
	position: absolute;
	top: 120px;
	left: 50%;
	width: 62px;
	height: 62px;
  margin-left: -31px;
  border: 1px solid #EAA3BB;
	border-radius: 100%;
	background: #fff;
  }
  .timeline-article .meta-date .date,
  .timeline-article .meta-date .month {
	display: block;
	text-align: center;
	font-weight: 900;
  }
  .timeline-article .meta-date .date {
	font-size: 30px;
  line-height: 60px;
  font-weight: 400;
  color: #494949;
  }
  .count-timeline{
	  margin: 35px 0 0 60px;
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
  }
.count-timeline span{
	font-size: 40px;
	color: #494949;

}


  .timeline-article .meta-date .month {
	font-size: 18px;
	line-height: 10px;
  }
  /*===== // Vertical Timeline =====*/
  
  /*===== Resonsive Vertical Timeline =====*/
  @media only screen and (max-width: 830px) {
	#conference-timeline .timeline-start,
	#conference-timeline .timeline-end {
	  margin: 0;
	}
	#conference-timeline .conference-center-line {
	  margin-left: 0;
	  left: 50px;
	}
	.timeline-article .meta-date {
	  margin-left: 0;
	  left: 20px;
	}
	.timeline-article .content-left-container,
	.timeline-article .content-right-container {
	  max-width: 100%;
	  width: auto;
	  float: none;
	  margin-left: 110px;
	  min-height: 53px;
	}
	.timeline-article .content-left-container {
	  margin-bottom: 20px;
	}
	.timeline-article .content-left,
	.timeline-article .content-right {
	  padding: 10px 25px;
	  min-height: 65px;
	}
	.timeline-article .content-left:before {
	  content: "\f0d9";
	  right: auto;
	  left: -8px;
	}
	.timeline-article .content-right:before {
	  display: none;
	}
  }
  @media only screen and (max-width: 400px) {
	.timeline-article p {
	  margin: 0;
	}
	.timeline-article p span.article-number {
	  display: none;
	}
	
  }
	/*===== // Resonsive Vertical Timeline =====*/
	
	.kategorien-braut{
		background-image: url(../img/bg-kategoria_header.jpg);
    background-size: cover;
    color: #FFF;
    padding: 70px 0 70px 0;
	}
  .kategorien-braut h2 {
    font-size: 45px;
    font-weight: bold;
}
.filter-button-active {
  color: #fff !important; 
  background: #FFA3C2 !important;
  outline: none;
}
.filter-button-active:focus { outline: none;}

.filter-tope-group{
  padding: 10px 10px 30px  13px;
}
.filter-tope-group > button{
  cursor: pointer;
  background: transparent;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.1);
  border: none;
  line-height: 32px;
  font-size: 18px;
  text-align: center;
  color: #494949;
  width: 174px;
  padding: 10px 0 10px 0;
  margin-right: 10px;
}
.filter-tope-group > button:hover {color: #FFA3C2};
.section-brautkleide{
  background-image: url(../img/bg-brautklaide_header.jpg);
  background-size: cover;
  color: #FFF;
  padding: 70px 0 70px 0;
}
.section-brautkleide h2{
  font-size: 45px;
    font-weight: bold;
}



.cards-views{
	margin-top: 35px;
}
.cards {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
}

.card__like {
	width: 18px;
}

.card__clock {
	width: 15px;
  vertical-align: middle;
	fill: #494949;
}
.card__time {
	font-size: 12px;
	color: #AD7D52;
	vertical-align: middle;
	margin-left: 5px;
}

.card__clock-info {
	float: right;
}

.card__img {
visibility: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 300px;
border-top-left-radius: 12px;
border-top-right-radius: 12px;

}

.card__info-hover {
	position: absolute;
	padding: 16px;
width: 100%;
opacity: 0;
top: 0;
}

.card__img--hover {
transition: 0.2s all ease-out;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
position: absolute;
	height: 300px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
top: 0;

}
.card {
	margin: 0 0 50px 0px;
transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
background-color: #fff;
position: relative;
border-radius: 2px;
overflow: hidden;
box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
flex: auto;

}
.card:hover {
box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
	transform: scale(1.05, 1.05);
}

.card__info {
z-index: 2;
background-color: #fff;
/*border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;*/
 padding: 16px 24px 24px 24px;
}

.card__category {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: 500;
color: #9F9EA2;
}

.card__title {
	color: #494949;
	margin-top: 5px;
	margin-bottom: 10px;
  font-family: 'Great Vibes';
  font-size: 35px;
}

.card__by {
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

.card__author {
	font-weight: 600;
	text-decoration: none;
	color: #AD7D52;
}

.card:hover .card__img--hover {
	height: 100%;
	opacity: 0.3;
}

.card:hover .card__info {
	background-color: transparent;
	position: relative;
}

.card:hover .card__info-hover {
	opacity: 1;
}
a.card_link.card__title:hover {
	color: #EAA3BB;
}
.svg_link{
	position: relative;
	display: inline-block; 
	z-index: 10;
  color: #cecece;
  font-size: 32px;
  
}
.svg_link:after {
  content: ""; 
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
}
.svg_link:hover{
color: #EAA3BB;
}



/*-------------------*/

.button_slide_termin {
	margin-top: 10px;
	color: #3d3d3d;
  border: 2px solid#3d3d3d;
  border-radius: 0px;
  padding: 10px 45px;
  display: inline-block;
  font-size: 21px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #3d3d3d;
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}
.slide_right_termin:hover {
	color: #fff;
  box-shadow: inset 300px 0 0 0 #3d3d3d;
}

.button_slide {
	background-color: inherit;
	color: #EAA3BB;
  border: 2px solid#EAA3BB;
  border-radius: 0px;
  padding: 10px 30px;
  display: inline-block;
  font-size: 21px;
  letter-spacing: 1px; 
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #EAA3BB;
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

.slide_right:hover {
	color: #fff;
  box-shadow: inset 300px 0 0 0 #EAA3BB;
}


.section-signup{
  margin: 0 0 75px 0;
  color:#fff;
background-image: url('../img/bg-singup-header.jpg');
background-size: cover;
padding: 70px 0 70px 0;
}
.section-signup h2{
    font-size: 45px;
    font-weight: bold;
}

.signup-left-bg{
	background-image: url('../img/signup-left-bg.jpg');
	background-size: cover;
	height: 610px;
}
.signup-row{
  box-shadow: -1px -1px 15px rgba(0, 0, 0, 0.3);
}


.signup-wrap {
	padding: 75px 0px 0px 50px;
}

.termin-wrap {
	padding: 75px 0 30px 0;
}
/*--- signup ---*/


.login100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.login100-form-sign {
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.login100-form-title {
  display: block;
  width: 100%;
  line-height: 36px;
  font-size: 27px;
  text-align: center;
  color: #EAA3BB;
}
.login100-form-title1{
  display: block;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
  font-weight: 300;
line-height: 57px;
font-size: 25px;
text-align: center;
}
.login100-form-title-signup{
  display: block;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
  font-weight: 300;
  line-height: 38px;
  font-size: 21px;
  color: #494949;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  /*width: 45%;
  position: relative;*/
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 35px;
}

.label-input100 {
  font-size: 18px;
  color: #999999;
  line-height: 1.2;
  padding-left: 2px;
}

.input100 {
  display: block;
  width: 100%;
  height: 40px;
  background: transparent;
  font-size: 22px;
  color: #555555;
  line-height: 1.2;
  padding: 0 2px;
  font-weight: 300;
}
.input100::placeholder{
  color: #494949;
}
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #d5007d;
  background: -webkit-linear-gradient(45deg, #d5007d, #e53935);
  background: -o-linear-gradient(45deg, #d5007d, #e53935);
  background: -moz-linear-gradient(45deg, #d5007d, #e53935);
  background: linear-gradient(45deg, #d5007d, #e53935);
}


.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder {color: #cccccc;}
input:-moz-placeholder {color: #cccccc;}
input::-moz-placeholder {color: #cccccc;}
input:-ms-input-placeholder {color: #cccccc;}

textarea::-webkit-input-placeholder {color: #cccccc;}
textarea:-moz-placeholder {color: #cccccc;}
textarea::-moz-placeholder {color: #cccccc;}
textarea:-ms-input-placeholder {color: #cccccc;}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 30px 4px 10px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 2px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.true-validate::after {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 22px;
  color: #00ad5f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 5px;
}

.checkTrue{

  color: #9F9EA2;
  padding-top: 30px;

}
.checkTrue > label{
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
} 

.atelier-section{
  background-image: url(../img/bg-atelier-header.jpg);
  background-size: cover;
  color: #FFF;
  padding: 70px 0 70px 0;
}

.atelier-section h2 {
  font-size: 45px;
  font-weight: bold;
}
.atelier{
  padding: 50px 0 50px 0;
}
.atelier h3{
  font-family: Great Vibes;
  font-size: 45px;
  line-height: 86px;
  color: #494949;
}
.atelier p{
  font-size: 18px;
line-height: 30px;
color: #9F9EA2;
font-weight: normal;
}
.atelier img{
  padding: 3px;
}
/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.login100-form > button{
  margin-top: 35px;
  position: relative;
  left: 42%;
}

/*  Termin  */

.termin-section{
	background-image: url(../img/bg_35.jpg);
	background-size: cover;
	color: #fff;

}

.termin-card{
  background-color: #f5f5f5;
  padding-top: 40px;
}

.termin{
  margin: 75px 0 60px 0;
}
.termin h2{
  font-size: 45px;
  font-weight: bold;
}
.termin span{
  font-size: 19px;
  font-weight: 300;
  padding: 10px 0 20px 0;
}

.card-add{
  padding: 100px 0 100px 0;

  font-size: 21px;
  font-weight: 500;
}
.card-add a{
  color: #4C4C4C;
}

.card-add a:hover{
  color: #9F9EA2;

}

.section-kontakt{
  background-image: url(../img/bg-kontakt-header.jpg);
  background-size: cover;
  color: #FFF;
  padding: 70px 0 70px 0;
}

.section-kontakt h2 {
  font-size: 45px;
  font-weight: bold;
}
.kontakt-us{
  padding-top: 50px;
  padding-bottom: 30px;
}
.kontakt-field{
  border: 1px solid #D4D4D4;
  padding: 55px 70px 70px 70px;
}
.kontakt-field > form > h4{
  text-align: center;
  font-family: 'Great Vibes', cursive;
  line-height: 76px;
  font-size: 40px;
  color: #494949;
}
.kontakt-field > form > p{
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  color: #828282;
  padding-bottom: 30px;
}
.kontakt-form-field{
  border: 1px solid #D4D4D4;
  margin-bottom: 20px;

}
.kontakt-form-field input {
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
  height: 50px;
  color: #494949;
}
.kontakt-form-field input::placeholder{
  color: #494949;
}
.kontakt-form-field  textarea{
  padding-top: 25px;
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
  height: 100px;
  color: #494949;
}
.kontakt-form-field textarea::placeholder{
  color: #494949;
}
.kontakt-form-button{
  width: 100%;
	background-color: inherit;
	color: #EAA3BB;
  border: 2px solid#EAA3BB;
  border-radius: 0px;
  padding: 10px 30px;
  display: inline-block;
  font-size: 21px;
  letter-spacing: 1px; 
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #EAA3BB;
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

.kontakt-form-button:hover {
	color: #fff;
  box-shadow: inset 450px 0 0 0 #EAA3BB;
}
.kontakt-field-2{
  border: 1px solid #D4D4D4;
  padding: 20% 5% 5% 5%;
}
.kontakt-icon{
  font-size: 36px;
  color: #494949;
}
.kontakt-text h3{
  font-weight: 600;
  font-size: 18px;
  color: #494949;
}
.kontakt-text p{
  font-weight: 300;
  font-size: 24px;
  color: #494949;
}

/*section-braut-detals*/

.section-braut-detals{
  padding-top: 45px;
  background-color: #fff;
}
.braut-photo-section{
  padding-left: 25px;
  padding-right: 30px;
}/*//////////////////////////////////////////////////////////////////
[ Slick3 ]*/
.wrap-slick3 {
  position: relative;
}

/*---------------------------------------------*/
.wrap-slick3-arrows {
  position: absolute;
  z-index: 100;
  width: 83.333333%;
  right: 0;
  top: calc(50% - 20px);
}

.arrow-slick3 {
  font-size: 25px;
  color: #fff;
  border: bisque;
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0,0.5);

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.arrow-slick3:hover {
  background-color: rgba(0,0,0,0.9);
}

.prev-slick3 {left: 0px;}
.next-slick3 {right: 20%;}

/*---------------------------------------------*/
.wrap-slick3-dots {
  width: 11.111111%;
}

.slick3 {
  width: 83.333333%;
}

.slick3-dots li {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 27px;
}

.slick3-dots li img {
  width: 100%;
}

.slick3-dot-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  border: 2px solid transparent;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.slick3-dot-overlay:hover {
  border-color: #ccc;
}

.slick3-dots .slick-active .slick3-dot-overlay {
  border-color: #ccc;
}


/*//////////////////////////////////////////////////////////////////
[ Slick2 ]*/

.wrap-slick2 {
  position: relative;
  margin-right: -15px;
  margin-left: -15px;
}

/* ------------------------------------ */
.arrow-slick2 {
  position: absolute;
  z-index: 100;
  top: calc((100% - 60px) / 2);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 39px;
  color: #ccc;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.arrow-slick2:focus { outline: none; }
.arrow-slick2:hover {
  color: #666;
}

.next-slick2 {
  right: -40px;
}

.prev-slick2 {
  left: -40px;
}

@media (max-width: 1300px) {
  .next-slick2 {
    right: 0px;
  }

  .prev-slick2 {
    left: 0px;
  }
}



@media (max-width: 1200px) {
  .kontakt-text h3{
    font-size: 16px;
  }
  .kontakt-text p{
    font-size: 20px;
  }
  .menu__item a{
    font-size: 18px;
  }
}

@media (max-width: 992px) {
.header-desktop{
  display: none;
}
.menu{
  display: none;
}
.header-mobile{
  display: block;
}
.inform-2{
 padding-top: 15px; 
}

  .kontakt-field-2{
    padding: 5% 5% 5% 10%;
  }
  .kontakt-text h3{
    font-size: 18px;
  }
  .kontakt-text p{
    font-size: 24px;
  }
.footer-menu .col-sm-6:first-child{
  -webkit-box-ordinal-group: 13;
  -ms-flex-order: 12;
  order: 12;
}
.footer-menu > div > ul {
  padding: 10px 0 30px 15px;
}
.footer-inform{
  padding-bottom: 15px;
}
.kollekt-post  .kollekt-post-img{
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  padding-bottom: 15px;
  }

  h1.h-f-s{
    font-size: 65px;
  }
  h3.h-f-s{
    font-size: 45px;
  }
  .h-f-s-t {
    font-size: 18px;
  }
  .title-s-p > h2 {
    font-size: 32px;
  
  }

}

@media (max-width: 768px){
.pricing-table .pricing-option {
  padding: 5%;
  width: 100%;
}
.pricing-table .pricing-option:nth-child(even) {
  margin: 30px 0 !important;
}
.inform-2{
  font-size: 16px;
 }
#uber_uns > h2 {
font-size: 30px;
}
#uber_uns > h3 {
  font-size: 18px;
  }
#uber_uns > p {
  font-size: 16px;
  }
.title-s-p > h2 {
    font-size: 30px;
}
.title-s-p > h5 {
  font-size: 18px;
}

.kollekt-post > div> h2 {
    font-size: 30px;
}
.kollekt-post > div> p {
  font-size: 18px;
 margin-top: 5px; 
}
.t-i-s > span {
  font-size: 21px;
}
.t-i-s > h2 {
  font-size: 40px;
}
.t-i-s > span:last-child {
  font-size: 30px;
}
footer{
  padding-top: 35px;
}
.footer-inform-1{
  font-size: 25px;
}
.footer-inform-2 > span{
  font-size: 16px;
} 
.footer-inform-2{
  font-size: 18px;
}
.footer-info {
    padding-bottom: 0;
}
.footer-menu .col-sm-6:first-child{
  -webkit-box-ordinal-group: 11;
  -ms-flex-order: 1;
  order: 1;
}
.footer-menu .col-sm-6:last-child{
  -webkit-box-ordinal-group: 13;
  -ms-flex-order: 0;
  order: 0;
  padding-bottom: 20px;
}
.kontakt-field {
  padding: 55px 40px 70px 40px;
}
.kontakt-field > form > h4 {
  line-height: 50px;
  font-size: 32px;
}
.kontakt-field-2{
  padding: 10% 2% 2% 10%;
}
.kontakt-icon {
  font-size: 30px;
}
.kontakt-text h3 {
  font-size: 16px;
}
.kontakt-text p {
    font-size: 18px;
}
}