<section class="termin-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 text-center termin">
                <h2>Meine Umkleidekabine</h2>
                {{# if cart }}
                <span>Sie haben {{session.cart.totalQty}} Kleiden für Termin ausgewählt</span>
                {{/if}}
            </div>
        </div>
    </div>
</section>
<section class="termin-card"> 
<div class="container ">
    <div class="row align-items-center">
        {{# if cart}}
        {{# each cart}}
        <div class="col-sm-3 card-termin ">
            <div class="card" style="height: 300px;">
                <div class="card__info-hover" class="svg_link">


                    <div class="card__clock-info">
                        <a href="/termin/reduce/{{item.id}}" class="svg_link">
                            <i class="fa fa-times"></i>

                        </a>
                    </div>

                </div>
                <div class="card__img--hover" style="background-image: url('/uploads/{{item.img_title}}')"></div>

                <div class="card-body">

                </div>
                <div class="card__info">
                    <span class="card__category text-center">{{item.DressName}}</span>

                </div>
            </div>
        </div>
        {{/each}}
        {{/if}}

        <div class="col-sm-3 card-termin">
            <div class="card card-add">
                <div class="card-body text-center">
                    <a href="/kategorien">
                    <!--<i style="font-size: 35px; padding: 110px 0 110px 0;" class="fa fa-plus add-termin"></i> -->
                    <span style="padding: 124px 0px 100px 0;">Noch Kleider aussuchen</span>
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>
</section>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 termin-wrap">
            <form class="login100-form validate-form" method="POST" action="/termin/chekout">
                <span class="login100-form-title">
                    Lassen Sie uns einen Termin vereinbaren,
um die ausgewählten Kleider anzuprobieren
                </span>
                <span class="login100-form-title1">Persönliche Informationen</span>
                {{> home/form-msg}}

                <div class="wrap-input100 validate-input" data-validate="Name is required">

                    <input class="input100" type="text" name="clientname" placeholder="Name..." value="{{user.Name}}">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">

                    <input class="input100" type="text" name="email" placeholder="Email addess..." value="{{user.email}}">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="phone is required">

                    <input class="input100" type="tel" pattern="(\+?\d[- .]*){7,13}" name="phoneForm" placeholder="Phone..."
                        value="{{user.phone}}">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Data is required">
                    <input type='text' class="datepicker-here input100" name="dataForm" data-position="right top"
                        data-date-format="yyyy-mm-dd" placeholder="Data..." />
                </div>

                <div class="container">
                    <div class="row justify-content-center">
                        <span class="login100-form-title1">Wählen Sie einen Termin</span>
                        <span class="focus-input100"></span>
                        <div class="pricing-table validate-input">
                            <div class="pricing-option ">
                                <input type="radio" id="silber" name="select" value="silber" class="input100">
                                <label for="silber">
                                    <h2>Silber</h2>
                                    
                                    <p>Mit dem Silberspaket erhalten Sie Qualitätsservice in unserem Salon, der Folgendes beinhaltet:</p>
                                    
						<ul>
							<li>&#160; 1,5 Stunde</li>
							<li>&#160; 2 Begleitpersonen</li>
							<li>&#160; Glas Sekt beim Kleidkauf</li>
						</ul>

                                    <div class="price">
                                        <div class="front front-1">
                                            <span class="price">Kostenlos</span>
                                        </div>
                                        <div class="back">
                                            <i class="fa fa-heart-o button buttonHurt" ></i>
                                        </div>
                                    </div>
                                </label>
                            </div>

                            <div class="pricing-option ">
                                <input type="radio" id="gold" name="select" value="gold" class="input100">
                                <label for="gold">
                                    <h2>Gold</h2>
                                    
                                    <p>Mit dem Goldespaket erhalten Sie Qualitätsservice in unserem Salon, der Folgendes beinhaltet:
                                    </p>
                                    
						<ul>
							<li>&#160; 1,5 Stunde</li>
							<li>&#160; 2 Begleitpersonen</li>
							<li>&#160; Glas Sekt beim Kleidkauf</li>
						</ul>

                                    <div class="price">
                                        <div class="front front-2">
                                            <span class="price">50 <b>€</b></span>
                                        </div>
                                        <div class="back">
                                            <i class="fa fa-heart-o button buttonHurt" ></i>
                                        </div>
                                    </div>
                                </label>
                            </div>

                            <div class="pricing-option ">
                                <input type="radio" id="platina" name="select" value="platina" class="input100">
                                <label for="platina">
                                    <h2>Platina</h2>
                                    
                                    <p>Mit dem Platinespaket erhalten Sie Qualitätsservice in unserem Salon, der Folgendes beinhaltet:</p>
                                    
						<ul>
							<li>&#160; 1,5 Stunde</li>
							<li>&#160; 2 Begleitpersonen</li>
							<li>&#160; Glas Sekt beim Kleidkauf</li>
						</ul>

                                    <div class="price">
                                        <div class="front front-3">
                                            <span class="price">100 <b>€</b></span>
                                        </div>
                                        <div class="back">
                                            <i class="fa fa-heart-o button buttonHurt" ></i>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
                  <div class=" form-group form-check checkTrue" >
                        <input type="checkbox" required  class="form-check-input " id="checkTrue" value="check">
                        <label  for="checkTrue">Ich habe die Datenschutzerklärung zur Kenntnis genommen. Ich stimme zu, dass meine Angaben und Daten zur Beantwortung meiner Anfrage elektronisch erhoben und gespeichert werden. 
                    Hinweis: Sie können Ihre Einwilligung jederzeit für die Zukunft per E-Mail an olenabrautmode@gmail.com widerrufen.</label>
                 </div>

                <button class="button_slide slide_right" >
                    Bestellen
                </button>
        </div>
        </form>
    </div>
</div>
</div>


<section class="section-dienstleistungen">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-6 text-center title-s-p">
				<h2>
					Dienstleistungen
				</h2>
					<img src="img/icons/Hart_decor_Über uns.svg">
				<h5>
					Kostenloser Service für unsere Kunden. Wir kümmern uns um jede Braut
				</h5>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-sm-3 text-center">
				<img src="img/icons/kundenbetreuung.png" alt=""><span>Kundenbetreuung</span> 
				</div>
			<div class="col-sm-3 text-center">
				<img src="img/icons/massanfertigung.png" alt=""><span>Massanfertigung</span> 
			</div>
			<div class="col-sm-3 text-center">
				<img src="img/icons/bugelservice.png" alt=""><br><span>Bügelservice</span> 
			</div>
			<div class="col-sm-3 text-center">
				<img src="img/icons/aufbewahrung .png" alt=""><span>Aufbewahrung des Kleides bis zur Hochzeit</span> 
			</div>
		</div>
	</div>
</section>