<section class="kategorien-braut">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 text-center">

                <h2>Brautkleide</h2>

            </div>
        </div>
    </div>
</section>


	<section class="section-braut-detals">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
{{#each data}}
							<div class="slick3 gallery-lb">
								<div class="item-slick3" data-thumb="/uploads/{{img_title}}">
									<div class="wrap-pic-w pos-relative">
										<img src="/uploads/{{img_title}}" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/uploads/{{img_title}}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								<div class="item-slick3" data-thumb="/uploads/{{img_right}}">
									<div class="wrap-pic-w pos-relative">
										<img src="/uploads/{{img_right}}" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/uploads/{{img_right}}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
								<div class="item-slick3" data-thumb="/uploads/{{img_left}}">
									<div class="wrap-pic-w pos-relative">
										<img src="/uploads/{{img_left}}" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/uploads/{{img_left}}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
								<div class="item-slick3" data-thumb="/uploads/{{img_top}}">
									<div class="wrap-pic-w pos-relative">
										<img src="/uploads/{{img_top}}" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/uploads/{{img_top}}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>


							</div>
						</div>
					</div>
				</div>
	   				
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14">
							{{DressName}}
						</h4>

						<p class="stext-102 cl3 p-t-23">
							{{Description}}
						</p>
						



					<a href="/termin/{{id}}">

					<div class="button_slide_termin slide_right_termin">Add Termin</div>
					</a>
								</div>
							</div>	
						</div>



					</div>
				</div>
			</div>


		</div>

{{/each}}
	</section>


