<section class="atelier-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 text-center">

                <h2>Atelier</h2>

            </div>
        </div>
    </div>
</section>
<section class="atelier">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-lg-10 col-sm-6 text-center">
                <h3>Individuelle Schneiderei</h3>
                <p>Wir beschäftigen uns mit der Auswahl und dem Nähen von Kleidern und
                    anderem Great VibesWir besch Wir beschäftigen uns mit der Auswahl Nähen
                    anderem Great VibesWir beschWir beschäftigen uns mit der Auswahl und dem Nähen
                    von Kleidern und anderem Great VibesWir besch</p>
            </div>
            <div class="col-lg-12 col-sm-6">
                <img src="img/atelier-contant-1.jpg" alt="">
                <img src="img/atelier-contant-2.jpg" alt="">
                <img src="img/atelier-contant-3.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="section-telephon">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-sm-12 text-center t-i-s">
                <span>Möchten Sie einen Termin vereinbaren?</span>
                <h2>Rufen Sie Uns Heute</h2>
                <span> <i class="fa fa-mobile"></i> 0511 89890471</span>
            </div>
        </div>
    </div>
</section>

<section class="section-dienstleistungen">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 text-center title-s-p">
                <h2>
                    Dienstleistungen
                </h2>
                <img src="img/icons/Hart_decor_Über uns.svg">
                <h5>
                    Kostenloser Service für unsere Kunden. Wir kümmern uns um jede Braut
                </h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 text-center">
                <img src="img/icons/kundenbetreuung.png" alt=""><br><span>Kundenbetreuung</span> <br>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <img src="img/icons/massanfertigung.png" alt=""><br><span>Massanfertigung</span> <br>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <img src="img/icons/bugelservice.png" alt=""><br><span>Bügelservice</span> <br>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <img src="img/icons/aufbewahrung .png" alt=""><br><span>Aufbewahrung des Kleides bis zur Hochzeit</span>
                <br>
            </div>
        </div>
    </div>
</section>