<section class="first-section">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-7 col-md-8 col-sm-10 text-center">
				<h3 class="h-f-s">Hochzeitssalon</h3>
				<h1 class="h-f-s"><b>Glückliche Bräute</b></h1>
				<p class="h-f-s-t">Ein Hochzeitskleid, zu dem du ,Ja’ sagen kannst.
					Wir bieten dir hochqualitative Kleider aus besten Materialien und Flexibilität im Design
				</p>
				<a href="/kategorien">

					<div class="button_slide_termin slide_right_termin">Brautkleide</div>
				</a>

			</div>
		</div>
	</div>
</section>

<section class="second-section">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-6 col-sm-12 text-center title-s-p" id="uber_uns">
				<h2>Über uns</h2>
				<h3>Wir beschäftigen uns mit der Auswahl und dem Nähen von Kleidern und anderem</h3>
				<img src="img/icons/Hart_decor_Über uns.svg">
				<p>Olena Brautmoden gibt es bereits seit September 2012.
					Seit Mai 2018 sind wir mit unserem Laden umgezogen, nach Bretten.
					Bei uns findest du dein absolutes Traumkleid.</p>
				<p>Wir bieten dir die Möglichkeit, dein Brautkleid individuell nach deinen Wünschen zu designen.
					Ruf uns an oder schick eine Email.
					Wir freuen uns auf dich und deine Begleitung.
					Dein Olena Brautmoden Team </p>


			</div>


			<div class="col-lg-6 col-sm-12">
				<div class="list-services d-flex ">
					<div class="ustify-content-center align-items-center">
						<img class="img-items" src="img/icons/mehr als 1000 Modelle.svg">
					</div>
					<div class="text pl-4 pl-sm-0 pl-md-4">
						<h3 class="h3-list">Mehr als 1000 Modelle</h3>
						<p class="list_service_p"> Wir bieten dir märchenhafte Kleider aus besten Materialien und höchster Qualität und
							falls gewünscht, dein eigenes Design. Damit dein perfekter Tag mit einem perfekten Kleid beginnt.</p>
					</div>
				</div>
				<div class="list-services d-flex ">
					<div class="justify-content-center align-items-center">
						<img src="img/icons/maßschneiderei.svg">
					</div>
					<div class="text pl-4 pl-sm-0 pl-md-4">
						<h3 class="h3-list">Maßschneiderei</h3>
						<p class="list_service_p">Wir beschäftigen uns mit der Auswahl und dem Nähen von Kleidern und anderem</p>
					</div>
				</div>
				<div class="list-services d-flex ">
					<div class="justify-content-center align-items-center">
						<img src="img/icons/abfahrt%20für%20eine%20Hochzeit%20zur%20Brautreinigung.svg">
					</div>
					<div class="text pl-4 pl-sm-0 pl-md-4">
						<h3 class="h3-list">Abfahrt für eine Hochzeit zur Brautreinigung</h3>
						<p class="list_service_p">Wir beschäftigen uns mit der Auswahl und dem Nähen von Kleidern und anderem</p>
					</div>
				</div>
				<div class="list-services d-flex ">
					<div class="justify-content-center align-items-center">
						<img src="img/icons/exklusive%20Abend-%20%20und%20Kinderkleider.svg">
					</div>
					<div class="text pl-4 pl-sm-0 pl-md-4">
						<h3 class="h3-list">Exklusive Abend- und Kinderkleider</h3>
						<p class="list_service_p">Wir beschäftigen uns mit der Auswahl und dem Nähen von Kleidern und anderem</p>
					</div>
				</div>
				<div class="list-services d-flex ">
					<div class="justify-content-center align-items-center">
						<img src="img/icons/neue%20Kollektionen%20und%20Werbeartikel.svg">
					</div>
					<div class="text pl-4 pl-sm-0 pl-md-4">
						<h3 class="h3-list">Neue Kollektionen und Werbeartikel</h3>
						<p class="list_service_p">Wir beschäftigen uns mit der Auswahl und dem Nähen von Kleidern und anderem</p>
					</div>
				</div>
			</div>

</section>

<section class="section-top-modellen">

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-8 text-center title-s-p">
				<h2>
					Top Modellen
				</h2>
				<img src="img/icons/Hart_decor_Über uns.svg">
				<h5>
					Wir beschäftigen uns mit der Auswahl und dem Nähen von Kleidern und anderem
				</h5>
			</div>
		</div>

<!--
		<div class="wrap-slick2">
			<div class="slick2">
				<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
					{{#each data}}

					<article class="card card--1 block2">

						<div class="card__info-hover" class="svg_link">
							<a href="/termin/{{id}}" class="svg_link">
								<i class="fa fa-heart" style="font-size:25px"></i>

							</a>
						</div>

						<div class="card__img" style="background-image: url('/uploads/{{img_title}}')"></div>

						<div class="card__img--hover" style="background-image: url('/uploads/{{img_title}}')"></div>

						<div class="card__info">
							<span class="card__category">{{Title}}</span>

							<h3 class="card__title">
								<a href="/kategorien/{{slug}}" class="card_link card__title" !important>
									{{DressName}}
								</a>
							</h3>

						</div>
					</article>

					{{/each}}
				</div>
			</div>
		</div>
-->

		<div class="row justify-content-center slick-wrap">
			{{#each data}}
			<div class="col-xl-3 col-lg-4 col-sm-6 col-12">


				<article class="card card--1">

					<div class="card__info-hover" class="svg_link">
						<a href="/termin/{{id}}" class="svg_link">
							<i class="fa fa-heart" style="font-size:25px"></i>

						</a>
					</div>

					<div class="card__img" style="background-image: url('/uploads/{{img_title}}')"></div>

					<div class="card__img--hover" style="background-image: url('/uploads/{{img_title}}')"></div>

					<div class="card__info">
						<span class="card__category">{{Title}}</span>

						<h3 class="card__title">
							<a href="/kategorien/{{slug}}" class="card_link card__title" !important>
								{{DressName}}
							</a>
						</h3>

					</div>
				</article>



			</div>

			{{/each}}


		</div>



		<!--
		<div class="row justify-content-center">
			{{#each data}}
			<div class="col-xl-3 col-lg-4 col-sm-6 col-12">


				<article class="card card--1">

					<div class="card__info-hover" class="svg_link">
						<a href="/termin/{{id}}" class="svg_link">
							<i class="fa fa-heart" style="font-size:25px"></i>

						</a>
					</div>

					<div class="card__img" style="background-image: url('/uploads/{{img_title}}')"></div>

					<div class="card__img--hover" style="background-image: url('/uploads/{{img_title}}')"></div>

					<div class="card__info">
						<span class="card__category">{{Title}}</span>

						<h3 class="card__title">
							<a href="/kategorien/{{slug}}" class="card_link card__title" !important>
								{{DressName}}
							</a>
						</h3>

					</div>
				</article>



			</div>

			{{/each}}


		</div>
		-->
	</div>

</section>



<section class="section-price">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center title-s-p">
				<h2>
					Termin vereinbaren
				</h2>
				<img src="img/icons/Hart_decor_Über uns.svg">
				<h5>
					Wir beschäftigen uns mit der Auswahl und dem Nähen von Kleidern und anderem
				</h5>
			</div>
		</div>

		<!--=================================-->

		<div class="container">
			<div class="row justify-content-center">
				<div class="pricing-table">
					<div class="pricing-option">
						<h2>Silber</h2>

						<p>Mit dem Silberspaket erhalten Sie Qualitätsservice in unserem Salon, der Folgendes beinhaltet:</p>

						<ul>
							<li>&#160; 1,5 Stunde</li>
							<li>&#160; 2 Begleitpersonen</li>
							<li>&#160; Glas Sekt beim Kleidkauf</li>
						</ul>

						<div class="price">
							<div class="front">
								<span class="price">Kostenlos</span>
							</div>
							<div class="back">
								<a href="/termin" class="button text-center">Termin vereinbaren</a>
							</div>
						</div>
					</div>

					<div class="pricing-option">
						<h2>Gold</h2>

						<p>Mit dem Goldespaket erhalten Sie Qualitätsservice in unserem Salon, der Folgendes beinhaltet:</p>
						<ul>
							<li>&#160; 1,5 Stunde</li>
							<li>&#160; 2 Begleitpersonen</li>
							<li>&#160; Glas Sekt beim Kleidkauf</li>
						</ul>
						<div class="price">
							<div class="front">
								<span class="price">50 <b>€</b></span>
							</div>
							<div class="back">
								<a href="/termin" class="button text-center">Termin vereinbaren</a>
							</div>
						</div>
					</div>

					<div class="pricing-option">
						<h2>Platina</h2>

						<p>Mit dem Platinespaket erhalten Sie Qualitätsservice in unserem Salon, der Folgendes beinhaltet:</p>
						<ul>
							<li>&#160; 1,5 Stunde</li>
							<li>&#160; 2 Begleitpersonen</li>
							<li>&#160; Glas Sekt beim Kleidkauf</li>
						</ul>
						<div class="price">
							<div class="front">
								<span class="price">100 <b>€</b></span>
							</div>
							<div class="back">
								<a href="/termin" class="button text-center">Termin vereinbaren</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</section>

<section class="section-dienstleistungen">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center title-s-p">
				<h2>
					Dienstleistungen
				</h2>
				<img src="img/icons/Hart_decor_Über uns.svg">
				<h5>
					Kostenloser Service für unsere Kunden. Wir kümmern uns um jede Braut
				</h5>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-3 col-sm-6  text-center">
				<img src="img/icons/kundenbetreuung.png" alt=""><br><span>Kundenbetreuung</span> <br>
			</div>
			<div class="col-lg-3 col-sm-6  text-center">
				<img src="img/icons/massanfertigung.png" alt=""><br><span>Massanfertigung</span> <br>
			</div>
			<div class="col-lg-3 col-sm-6  text-center">
				<img src="img/icons/bugelservice.png" alt=""><br><span>Bügelservice</span> <br>
			</div>
			<div class="col-lg-3 col-sm-6  text-center">
				<img src="img/icons/aufbewahrung .png" alt=""><br><span>Aufbewahrung des Kleides bis zur Hochzeit</span>
			</div>
		</div>
	</div>
</section>

<section class="section-kollektion">
	<div class="container">
		<div class="row kollekt-post align-items-center title-s-p">
			<div class="col-lg-5 col-sm-12">
				<h2>Kollektion</h2>
				<p>Wir beschäftigen uns mit der Auswahl und dem Nähen von Kleidern und anderemWir beschäftigen uns mit der Auswahl
					und dem Nähen von Kleidern und anderem</p>
				<a href="/kategorien">

					<div class="button_slide_termin slide_right_termin">Schauen</div>
				</a>
			</div>
			<div class="col-lg-6 col-sm-12 kollekt-post-img">
				<img src="img/kollection.jpg" class="img-thumbnail">
			</div>
		</div>

		<div class="row kollekt-post align-items-center">
			<div class="col-lg-6 col-sm-12 kollekt-post-img">
				<img src="img/unsere_braute02.jpg" class="img-thumbnail">

			</div>
			<div class="col-lg-5 col-sm-12">
				<h2>Unsere Braute</h2>
				<p>Wir beschäftigen uns mit der Auswahl und dem Nähen von Kleidern und anderemWir beschäftigen uns mit der Auswahl
					und dem Nähen von Kleidern und anderem</p>

				<a href="/unsere">

					<div class="button_slide_termin slide_right_termin">Unsere Bräute</div>
				</a>
			</div>
		</div>
	</div>

</section>

<section class="section-telephon">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10 col-sm-12 text-center t-i-s">
				<span>Möchten Sie einen Termin vereinbaren?</span>
				<h2>Rufen Sie Uns Heute</h2>
				<span> <i class="fa fa-mobile"></i> 0511 89890471</span>
			</div>
		</div>
	</div>
</section>

<section class="section-instafeed">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 text-center title-s-p">
				<h2>Folge uns auf Instagram</h2>
				<img src="img/icons/Hart_decor_Über uns.svg">
				<h5>Wir freuen uns immer auf neue Freunde</h5>

			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">

				<div id="ri-grid" class="ri-grid ri-grid-size-2">
					<img class="ri-loading-image" src="img/loading.gif" />
					<ul id="instafeed" class="instafeed">

					</ul>
				</div>

			</div>
		</div>

	</div>

</section>