<section class="section-kontakt">
	    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 text-center">

                <h2>Kontakt</h2>

            </div>
        </div>
    </div>
</section>

<section class="kontakt-us">
	<div class="container">
		<div class="row">
		<div class="col-lg-6 col-sm-12 kontakt-field">

					<form action="/msg-telegram" method="POST">
<h4>Schick uns eine Nachricht</h4>
<p>Meerjungfrau spitze unterlegt mit Hautfarben transparent Stoff, schleppe</p>

						<div class="kontakt-form-field">
							<input  type="text" name="nameuser" placeholder="Name">
						</div>
						<div class="kontakt-form-field">
							<input  type="text" name="phone" placeholder="Your Phone Number">
						</div>
						<div class="kontakt-form-field">
							<input  type="text" name="email" placeholder="Your Email Address">
						</div>
						<div class="kontakt-form-field">
							<textarea name="msg" placeholder="Wie können wir helfen?"></textarea>
						</div>

						<button class="kontakt-form-button">
							Schicken
						</button>
					</form>
		</div>
		<div class="col-lg-6 col-sm-12  kontakt-field-2">
					<div class="list-services d-flex ">
						<div class="kontakt-icon">
							<i class="fa fa-envelope"></i>
						</div>
						<div class="kontakt-text pl-4 pl-sm-0 pl-md-4">
							<h3>E-mail</h3>
							<p>Olenabrautmoden@gmail.com</p>
						</div>
					</div>
					<div class="list-services d-flex ">
						<div class="kontakt-icon">
							<i class="fa fa-phone"></i>
						</div>
						<div class="kontakt-text pl-4 pl-sm-0 pl-md-4">
							<h3>Kontakt mit uns</h3>
							<p>015905527315</p>
						</div>
					</div>
					<div class="list-services d-flex ">
						<div class="kontakt-icon">
							<i class="fa fa-map-marker"></i>
						</div>
						<div class="kontakt-text pl-4 pl-sm-0 pl-md-4">
							<h3>Weg zu uns</h3>
							<p>Bretten, 75015</p>
						</div>
					</div>
		</div>
		</div>
	</div>
</section>


	<!-- Map -->
	<div class="map">
		<div class="size-303" id="google_map" data-map-x="40.691446" data-map-y="-73.886787" data-pin="images/icons/pin.png" data-scrollwhell="0" data-draggable="1" data-zoom="11"></div>
	</div>
<section class="section-instafeed">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 text-center title-s-p">
				<h2>Folge uns auf Instagram</h2>
				<img src="img/icons/Hart_decor_Über uns.svg">
				<h5>Wir freuen uns immer auf neue Freunde</h5>

			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">

				<div id="ri-grid" class="ri-grid ri-grid-size-2">
					<img class="ri-loading-image" src="img/loading.gif" />
					<ul id="instafeed" class="instafeed">

					</ul>
				</div>

			</div>
		</div>

	</div>

</section>