<section class="section-signup">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 text-center" >

                <h2>Einloggen</h2>

            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row justify-content-center signup-row">
        <div class="col-sm-6 signup-left-bg"></div>
        <div class="col-sm-6 signup-wrap">
            <form class="login100-form-sign validate-form" method="POST" action="/signin">
                <span class="login100-form-title-signup">
                    Geben Sie die Kontaktdaten ein, um Sie zu kontaktieren
                </span>
                {{> home/form-msg}}

                <div class="wrap-input100 validate-input" data-validate="Name is required">

                    <input class="input100" type="text" name="clientname" placeholder="Name...">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">

                    <input class="input100" type="text" name="email" placeholder="Email addess...">
                    <span class="focus-input100"></span>
                </div>


                <button class="button_slide slide_right">
                    Einloggen
                </button>



        </div>
        </form>
    </div>
</div>
</div>

<section class="section-instafeed">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 text-center title-s-p">
				<h2>Folge uns auf Instagram</h2>
				<img src="img/icons/Hart_decor_Über uns.svg">
				<h5>Wir freuen uns immer auf neue Freunde</h5>

			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">

				<div id="ri-grid" class="ri-grid ri-grid-size-2">
					<img class="ri-loading-image" src="img/loading.gif" />
					<ul id="instafeed" class="instafeed">

					</ul>
				</div>

			</div>
		</div>

	</div>

</section>