<section class="atelier-section header-timeline">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10 text-center">

                <h2>Unsere Dienstleistungen</h2>

            </div>
        </div>
    </div>
</section>


<section id="conference-timeline">
  <div class="conference-center-line"></div>
  <div class="conference-timeline-content">
    <!-- Article -->
    <div class="timeline-article">
      <div class="content-left-container">
        <div class="content-left">
          <h4>
            Brautkleid nach Maß</h4>
          <p>Wir beschäftigen uns mit der Auswahl und dem Nähen von Kleidern und anderemWir beschäftigen uns mit der
            Auswahl und dem Nähen von Kleidern und anderem</p>

          <div class="count-timeline">
            <span class="price">50 <sup><small>€</sup></small></span>
          </div>

        </div>
      </div>

      <div class="content-right-container">
        <div class="content-right">
          <img src="../img/Ресурс 10.png" alt="" class="img-thumbnail">
        </div>
      </div>
      <div class="meta-date">
        <span class="date">1</span>
      </div>
    </div>
    <!-- // Article -->

    <!-- Article -->
    <div class="timeline-article">
      <div class="content-left-container">
        <div class="content-left">
          <img src="../img/Ресурс 10.png" alt="" class="img-thumbnail">
        </div>
      </div>
      <div class="content-right-container">
        <div class="content-right">
          <h4>
            Ankleiden der Braut am Hochzeitstag</h4>
          <p>Wir beschäftigen uns mit der Auswahl und dem Nähen von Kleidern und anderemWir beschäftigen uns mit der
            Auswahl und dem Nähen von Kleidern und anderem</p>

          <div class="count-timeline">
            <span class="price">50 <sup><small>€</small></sup></span>
          </div>

        </div>
        <div class="meta-date">
          <span class="date">2</span>
        </div>
      </div>
      <!-- // Article -->

      <!-- Article -->
      <div class="timeline-article">
        <div class="content-left-container">
          <div class="content-left">
            <h4>
             Reinigung des Brautkleides</h4>
            <p>Wir beschäftigen uns mit der Auswahl und dem Nähen von Kleidern und anderemWir beschäftigen uns mit der
              Auswahl und dem Nähen von Kleidern und anderem</p>

            <div class="count-timeline">
              <span class="price">50 <sup><small>€</small></sup></span>
            </div>

          </div>
        </div>

        <div class="content-right-container">
          <div class="content-right">
            <img src="../img/Ресурс 10.png" alt="" class="img-thumbnail">
          </div>
        </div>
        <div class="meta-date">
          <span class="date">3</span>
        </div>
      </div>
      <!-- // Article -->
    </div>
</section>

<section class="section-telephon">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10 col-sm-12 text-center t-i-s">
				<span>Möchten Sie einen Termin vereinbaren?</span>
				<h2>Rufen Sie Uns Heute</h2>
				<span> <i class="fa fa-mobile"></i> 0511 89890471</span>
			</div>
		</div>
	</div>
</section>