<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link" href="/admin">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
        <a class="nav-link" href="/admin/clients">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Clients</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="/admin/termin">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Termin</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseDress" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Платья</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseDress">
            <li>
                <a href="/admin/dress">Все платья</a>
            </li>
            <li>
                <a href="/admin/dress/brautkleider">Свадебные платья</a>
            </li>
            <li>
                <a href="/admin/dress/abendkleider">Вечерние платья</a>
            </li>
            <li>
                <a href="/admin/kleider/kindermode">Детские платья</a>
            </li>
        </ul>
    </li>


</ul>